<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65396233679-bfnkeqrq9b55gqm38dsu3sms8gru9ghj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65396233679-bfnkeqrq9b55gqm38dsu3sms8gru9ghj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>65396233679-73rhj9jdq247svj1ptu4gjo1q44eev0j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDid52FEyBw78TFwxAKZFxgkRPSpnbzZko</string>
	<key>GCM_SENDER_ID</key>
	<string>65396233679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ycy.examScoreCollectionTool</string>
	<key>PROJECT_ID</key>
	<string>class-todo-list</string>
	<key>STORAGE_BUCKET</key>
	<string>class-todo-list.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65396233679:ios:290d30d0fd21c584536eba</string>
</dict>
</plist>